<%= form_for([:admins, @user], html: { class: "row g-3" }) do |f| %>

  <div class="col-md-6">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class:"form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class:"form-control"%>
  </div>
  <div class="col-12">
    <%= f.label :address %>
    <%= f.text_area :address, autofocus: true, class:"form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, autofocus: true, class:"form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :credit_card_number %>
    <%= f.text_field :credit_card_number, autofocus: true, class:"form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, class:"form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>
  <div class="col-12">
    <%= f.submit "#{submit_text}", class:"btn btn-primary" %>
  </div>
<% end %>