<div class="card">
  <div class="card-header">
    <h4>Edit Profile</h4>
  </div>

  <div class="card-body">

    <%= form_for([:admins, @user]) do |f| %>

      <div class="row g-3">
        <div class="col-6">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class:"form-control", placeholder: "Name" %>
        </div>
        <div class="col-6">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Email" %>
        </div>
        <div class="col-12">
          <%= f.label :address %><br />
          <%= f.text_field :address, autofocus: true, class:"form-control", placeholder: "Address" %>
        </div>
        <div class="col-6">
          <%= f.label :phone_number %><br />
          <%= f.text_field :phone_number, autofocus: true, class:"form-control", placeholder: "Phone number" %>
        </div>
        <div class="col-6">
          <%= f.label :credit_card_number %><br />
          <%= f.text_field :credit_card_number, autofocus: true, class:"form-control", placeholder: "Credit card number" %>
        </div>
        <div class="col-md-4">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, class:"form-control", placeholder: "Username" %>
        </div>
        <div class="col-md-4">
          <%= f.label :password %> <i>(leave blank unless you want to change it)</i><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control", placeholder: "New Password" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class:"form-control", placeholder: "Confirm new password" %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit "Update", class:'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <br/>
    <%= link_to "Back", :back %>
  </div>
</div>