<%= form_with(model: book, html: { class: "row g-3" }) do |form| %>
  <div class="col-12">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>
  <div class="col-md-6">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control', required: true %>
  </div>
  <div class="col-md-6">
    <%= form.label :publisher %>
    <%= form.text_field :publisher, class: 'form-control', required: true %>
  </div>
  <div class="col-md-6">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control', step: 0.01, required: true %>
  </div>
  <div class="col-md-6">
    <%= form.label :stock %>
    <%= form.number_field :stock, class: 'form-control', required: true %>
  </div>
  <div class="col-12">
  <%= form.submit class:'btn btn-primary'%>
  </div>
<% end %>
