<div id="<%= dom_id review %>">
  <% if @show_user %>
    <p>User: <%= review.reviewable.username %></p>
  <% end %>
  <% if @show_book %>
    <p>Book: <%= review.book.title %></p>
  <% end %>
  <p>Rating: <%= review.rating %></p>
  <p>Review: <%= review.review %></p>
</div>
