<%= search_form_for @q, url: reviews_path do |f| %>
  <%= hidden_field_tag :reviewable, params[:reviewable] if params[:reviewable] %>
  <% if @show_user %>
    <div class="form-group">
      <%= f.label :reviewable_username_cont, "Search by username" %>
      <%= f.search_field :reviewable_username_cont, class: 'form-control' %>
    </div>
  <% end %>
  <% if @show_book %>
  <div class="form-group">
    <%= f.label :book_name_cont, "Search by book name" %>
    <%= f.search_field :book_name_cont, class: 'form-control' %>
  </div>
  <% end %>
  <%= link_to "Clear", reviews_path(reviewable: params[:reviewable]), class: "btn btn-default" %>
  <%= f.submit "Search", class: 'btn btn-primary btn-sm' %>
<% end %>