<%= form_with(model: @shopping_cart_item, class: 'row g-3') do |form| %>
  <div class="col-md-12">
    <%= form.label :name %>
    <%= form.text_field :name, value: @book.name, disabled: true, class: 'form-control' %>
  </div>

  <div class="col-md-12">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1, max: @book.stock, id: 'quantity', onchange: "calculateTotalPrice();", class: 'form-control', required: true %>
  </div>
  <div class="col-md-12">
    <%= form.label :total_price %>
    <%= form.text_field :total_price, :id => 'total_price', :readonly => true, class: 'form-control' %>
  </div>
  <div class="col-12">
    <%= form.hidden_field :book_id, value: @book.id %>
  </div>
  <div class="col-12'">
    <%= form.submit "Add to cart", class: 'btn btn-primary' %>
  </div>
  <div class="col-12'">
    <%= link_to "Back to books", books_path %>
  </div>
<% end %>

<script type="text/javascript">
    function calculateTotalPrice() {
        var price = "<%= @book.price %>";
        document.getElementById('total_price').value = document.getElementById('quantity').value * price;
    }
</script>